<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <div class="container">
        <%- include('./partials/nav') %> 
        <h1 class="mt-5">Tentang Laman Ini</h1>
        <p class="mt-4">Laman ini adalah bagian dari Back-end website Business Learning untuk mendapatkan akses berupa API yang ditampilkan melalui dashbord untuk memudahkan penggunaan API melalui Interface.</p>
    </div>
</body>
</html>